<div class="row">
  <aside class="col-md-12">
    <%= link "新しいスレッド", to: "./topics/new" %>
    <%= for topic <- @topics do %>
    <section>
      <%= render "topic.html", topic: topic, conn: @conn %>
      <%= link "Show", to: topic_path(@conn, :show, topic), class: "btn btn-default btn-xs" %>
    </section>
    <% end %>
  </aside>
</div>